h1{
    font-size: 60px;
}

.abouthero{
    height: 300px;
    width: 600px;
    background-image: url(../images/albanese-logo-no-shadow-1250x743.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.abouttext{
    margin-top: 50px;
    padding: 20px;
    font-size: 20px;
}